<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />
  </head>
  <body>
    <div th:fragment="common_header">
      <span class="col-lg-8 col-sm-8">
        <button id="projectsBtn" type="button" class="btn btn-link">プロジェクト</button>
        <button id="configBtn" type="button" class="btn btn-link">設定</button>
      </span>
      <span class="col-lg-4 col-sm-4 right">
        <button id="loginBtn" type="button" class="btn btn-link">ログイン</button>
        <button id="logoutBtn" type="button" class="btn btn-link">ログアウト</button>
      </span>
    </div>
  </body>
</html>