<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}"/>
</head>
<body>
<div th:fragment="common_header">

    <nav class="navbar navbar-default" role="navigation">

        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pims-navbar-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">PIMS</a>
            </div>

            <div class="navbar-collapse collapse" id="pims-navbar-menu">

                <ul class="nav navbar-nav">
                    <li><a id="toHomeLink" class="btn btn-link navbar-link" th:href="@{/}">ホーム</a></li>
                    <li th:if="${#httpServletRequest.remoteUser != null}">
                        <a id="configBtn" class="btn btn-link navbar-link"
                           th:if="${headerForm.users.authority == 'ROLE_ADMIN'}">設定</a>
                    </li>
                </ul>

                <p class="navbar-text navbar-right" th:if="${#httpServletRequest.remoteUser == null}">
                    <a id="loginLink" class="btn btn-link navbar-link" th:href="@{/loginFomr}">ログイン</a>
                </p>
                <p class="navbar-text navbar-right" th:if="${#httpServletRequest.remoteUser != null}">
                    <a class="btn btn-link navbar-link" th:href="@{'/user/config'}" th:inline="text"
                       th:text="${headerForm.users.displayName}">HAJIME Fukuna</a>
                    <a id="logoutLink" class="btn btn-link navbar-link" th:href="@{/logout}">ログアウト</a>
                </p>

            </div>
        </div>

    </nav>
</div>
</body>
</html>