<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Issue Item | PIMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}"/>

    <link rel="stylesheet" type="text/css"
          href="../../../static/css/pimsmain.css" th:href="@{/static/css/pimsmain.css}"/>

    <!-- jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>

    <!-- Bootstrap Datepicker -->
    <link rel="stylesheet" type="text/css"
          href="http://cdn.jsdelivr.net/webjars/org.webjars.bower/bootstrap-3-datepicker/1.6.4/dist/css/bootstrap-datepicker.min.css"
          th:href="@{/webjars/bootstrap-3-datepicker/1.6.4/dist/css/bootstrap-datepicker.min.css}"/>
    <script type="text/javascript"
            src="http://cdn.jsdelivr.net/webjars/org.webjars.bower/bootstrap-3-datepicker/1.6.4/dist/js/bootstrap-datepicker.min.js"
            th:src="@{/webjars/bootstrap-3-datepicker/1.6.4/dist/js/bootstrap-datepicker.min.js}"></script>
    <script type="text/javascript"
            src="http://cdn.jsdelivr.net/webjars/org.webjars.bower/bootstrap-3-datepicker/1.6.4/dist/locales/bootstrap-datepicker.ja.min.js"
            th:src="@{/webjars/bootstrap-3-datepicker/1.6.4/dist/locales/bootstrap-datepicker.ja.min.js}"></script>

    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <script type="text/javascript">
            $(function () {
                $('.datePickerBox').datepicker({
                    locale: 'ja',
                    format: 'yyyy/mm/dd',
                    autoclose: true,
                    todayBtn: 'linked',
                    todayHighlight: true
                });
            });

            function getRemainLength(srcTextBox, targetId) {
                var len = srcTextBox.value.length;

                var target = document.getElementById(targetId);
                if (target != 'undefined') {
                    target.innerHTML = len;
                }
                if (len / 32768 > 0.9) {
                    target.style.color = 'red';
                } else {
                    target.style.color = 'black';
                }
            }
    </script>

</head>
<body>

<div class="container">
    <div th:replace="/common/common_header::common_header"></div>

    <p class="issue_breadcomb">
        <span th:text="${currentLedgerName}">Hogeシステム改修</span> &gt; <span
            th:text="${issueNumberLabel}">新規</span>
    </p>

    <h2 class="h2">課題</h2>

    <div th:replace="/common/info_block::info_block"></div>

    <div class="form-group">
        <form th:action="@{${actionStr}}" th:object="${issueItem}" class="form-horizontal" method="POST">
            <!-- そのまま返却が必要なメンバー -->
            <input type="hidden" id="recordTimestamp" name="recordTimestamp" th:field="*{recordTimestamp}"/>

            <div class="row vertical-margin">
                <div class="col-lg-2 col-sm-3">発生日</div>
                <div class="col-lg-10 col-sm-9">
                    <div class="input-group date col-lg-3 col-sm-6 col-xs-12 datePickerBox" data-provide="datepicker">
                        <input type="text" id="foundDate" name="foundDate" th:field="*{foundDate}"
                               class="form-control" maxlength="12" th:disabled="${modeTag == 'R'}"/>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    <span th:if="${#fields.hasErrors('foundDate')}" th:errors="*{foundDate}"
                          class="help-block">Error</span>
                </div>
            </div>
            <div class="row vertical-margin">
                <div class="col-lg-2 col-sm-3">ステータス</div>
                <div class="col-lg-10 col-sm-9">
                    <div class="input-group col-lg-2 col-sm-4 col-xs-12">
                        <select class="form-control" id="statusSelector" name="actionStatusId"
                                th:disabled="${modeTag eq 'R'}">
                            <option value="-1">---</option>
                            <option th:each="statusItem : ${statusList}" th:value="${statusItem.key}"
                                    th:text="${statusItem.value}" th:selected="${statusItem.key} eq *{actionStatusId}">
                                pulldown
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row vertical-margin">
                <div class="col-lg-2 col-sm-3">緊急度</div>
                <div class="col-lg-10 col-sm-9">
                    <div class="input-group col-lg-2 col-sm-4 col-xs-12">
                        <select class="form-control" id="severitySelector" name="severity"
                                th:disabled="${modeTag eq 'R'}">
                            <option value="-1">---</option>
                            <option th:each="severityItem : ${severityList}" th:value="${severityItem.key}"
                                    th:text="${severityItem.value}" th:selected="${severityItem.key} eq *{severity}">
                                pulldown
                            </option>
                        </select>
                    </div>
                    <span th:if="${#fields.hasErrors('severity')}" th:errors="*{severity}"
                          class="help-block">error!</span>
                </div>
            </div>
            <div class="row vertical-margin">
                <div class="col-lg-2 col-sm-3">発見者</div>
                <div class="col-lg-10 col-sm-9">
                    <div class="input-group col-lg-2 col-sm-4 col-xs-12">
                        <select class="form-control" id="foundUserSelector" name="foundUserId"
                                th:disabled="${modeTag eq 'R'}">
                            <option value="">---</option>
                            <option th:each="foundUserItem : ${joinedUsers}" th:value="${foundUserItem.key}"
                                    th:text="${foundUserItem.value}"
                                    th:selected="${foundUserItem.key} eq *{foundUserId}">found user
                            </option>
                        </select>
                    </div>
                    <span th:if="${#fields.hasErrors('foundUserId')}" th:errors="*{foundUserId}" class="help-block">error!</span>
                </div>
            </div>
            <div class="row vertical-margin">
                <div class="col-lg-2 col-sm-3">機能種別</div>
                <div class="col-lg-10 col-sm-9">
                    <div class="input-group col-lg-2 col-sm-4 col-xs-12">
                        <select class="form-control" id="moduleKind" name="categoryId"
                                th:disabled="${modeTag eq 'R'}">
                            <option value="-1">---</option>
                            <option th:each="module : ${moduleCategoryList}" th:value="${module.key}"
                                    th:text="${module.value}" th:selected="${module.key} eq *{categoryId}">Category
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row vertical-margin">
                <div class="col-lg-2 col-sm-3">原因工程</div>
                <div class="col-lg-10 col-sm-9">
                    <div class="input-group col-lg-2 col-sm-4 col-xs-12">
                        <select class="form-control" id="causedProcess" name="processId"
                                th:disabled="${modeTag eq 'R'}">
                            <option value="-1">---</option>
                            <option th:each="processItem : ${causedProcessList}" th:value="${processItem.key}"
                                    th:text="${processItem.value}" th:selected="${processItem.key} == *{processId}">
                                found user
                            </option>
                        </select>
                    </div>
                    <span th:if="${#fields.hasErrors('processId')}" th:errors="*{processId}"
                          class="help-block">error!</span>
                </div>
            </div>
            <div class="row vertical-margin">
                <div class="col-lg-2 col-sm-3">障害内容</div>
                <div class="col-lg-10 col-sm-9">
                    <textarea id="issueDetail" name="issueDetail" class="form-control" rows="4" cols="60"
                              th:field="*{issueDetail}" maxlength="32768"
                              onkeydown="getRemainLength(this, 'issueDetailCount')"
                              onchange="getRemainLength(this, 'issueDetailCount')"
                              onblur="getRemainLength(this, 'issueDetailCount')"
                              th:disabled="${modeTag eq 'R'}"></textarea>
                    <div class="col-lg-1 col-sm1 pull-right"><span id="issueDetailCount">0</span>/32768</div>
                    <span th:if="${#fields.hasErrors('issueDetail')}" th:errors="*{issueDetail}" class="help-block">error!</span>
                </div>
            </div>
            <div class="row vertical-margin">
                <div class="col-lg-2 col-sm-3">原因</div>
                <div class="col-lg-10 col-sm-9">
                    <textarea id="caused" name="caused" class="form-control" rows="4" cols="60"
                              th:field="*{caused}" maxlength="32768"
                              onkeydown="getRemainLength(this, 'causedCount')"
                              onchange="getRemainLength(this, 'causedCount')"
                              onblur="getRemainLength(this, 'causedCount')"
                              th:disabled="${modeTag eq 'R'}"></textarea>
                    <div class="col-lg-1 col-sm1 pull-right"><span id="causedCount">0</span>/32768</div>
                    <span th:if="${#fields.hasErrors('caused')}" th:errors="*{caused}" class="help-block">error!</span>
                </div>
            </div>
            <div class="row vertical-margin">
                <div class="col-lg-2 col-sm-3">対応内容</div>
                <div class="col-lg-10 col-sm-9">
                    <textarea id="countermeasures" name="countermeasures" class="form-control" rows="4" cols="60"
                              th:field="*{countermeasures}" maxlength="32768"
                              onkeydown="getRemainLength(this, 'countermeasuresCount')"
                              onchange="getRemainLength(this, 'countermeasuresCount')"
                              onblur="getRemainLength(this, 'countermeasuresCount')"
                              th:disabled="${modeTag eq 'R'}"></textarea>
                    <div class="col-lg-1 col-sm1 pull-right"><span id="countermeasuresCount">0</span>/32768</div>
                    <span th:if="${#fields.hasErrors('countermeasures')}" th:errors="*{countermeasures}"
                          class="help-block">error!</span>
                </div>
            </div>
            <div class="row vertical-margin">
                <div class="col-lg-2 col-sm-3">対応者</div>
                <div class="col-lg-10 col-sm-9">
                    <div class="input-group col-lg-2 col-sm-4 col-xs-12">
                        <select class="form-control" id="correspondingUserSelector" name="correspondingUserId"
                                th:disabled="${modeTag eq 'R'}">
                            <option value="">---</option>
                            <option th:each="correspondingUserItem : ${correspondingUsers}"
                                    th:value="${correspondingUserItem.key}" th:text="${correspondingUserItem.value}"
                                    th:selected="${correspondingUserItem.key} == *{correspondingUserId}">corresponding
                                User
                            </option>
                        </select>
                    </div>
                    <span th:if="${#fields.hasErrors('correspondingUserId')}" th:errors="*{correspondingUserId}"
                          class="help-block">error!</span>
                </div>
            </div>
            <div class="row vertical-margin">
                <div class="col-lg-2 col-sm-3">対応時間</div>
                <div class="col-lg-10 col-sm-9">
                    <div class="input-group col-lg-2 col-sm-4 col-xs-12">
                        <input type="text" id="correspondingTime" name="correspondingTime"
                               class="form-control text-right" th:field="*{correspondingTime}" maxlength="6"
                               th:disabled="${modeTag eq 'R'}"/>
                        <span th:if="${#fields.hasErrors('correspondingTime')}" th:errors="*{correspondingTime}"
                              class="help-block">error!</span>
                    </div>
                </div>
            </div>
            <div class="row vertical-margin">
                <div class="col-lg-2 col-sm-3">対応終了日</div>
                <div class="col-lg-10 col-sm-9">
                    <div class="input-group date col-lg-3 col-sm-6 col-xs-12 datePickerBox" data-provide="datepicker">
                        <input type="text" id="correspondingEndDate" name="correspondingEndDate"
                               th:field="*{correspondingEndDate}" th:disabled="${modeTag eq 'R'}"
                               class="form-control" maxlength="12"/>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    <span th:if="${#fields.hasErrors('correspondingEndDate')}" th:errors="*{correspondingEndDate}"
                          class="help-block">Error</span>
                </div>
            </div>
            <div class="row vertical-margin">
                <div class="col-lg-2 col-sm-3">確認者</div>
                <div class="col-lg-10 col-sm-9">
                    <div class="input-group col-lg-2 col-sm-4 col-xs-12">
                        <select class="form-control" id="confirmedUserSelector" name="confirmedUserId"
                                th:disabled="${modeTag eq 'R'}">
                            <option value="">---</option>
                            <option th:each="confirmedUserItem : ${confirmedUsers}"
                                    th:value="${confirmedUserItem.key}" th:text="${confirmedUserItem.value}"
                                    th:selected="${confirmedUserItem.key} eq *{confirmedUserId}">confirmed User
                            </option>
                        </select>
                    </div>
                    <span th:if="${#fields.hasErrors('confirmedUserId')}" th:errors="*{confirmedUserId}"
                          class="help-block">error!</span>
                </div>
            </div>
            <div class="row vertical-margin">
                <div class="col-lg-2 col-sm-3">確認日</div>
                <div class="col-lg-10 col-sm-9">
                    <div class="input-group date col-lg-3 col-sm-6 col-xs-12 datePickerBox" data-provide="datepicker">
                        <input type="text" id="confirmedDate" name="confirmedDate" th:field="*{confirmedDate}"
                               class="form-control" maxlength="12" th:disabled="${modeTag eq 'R'}"/>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    <span th:if="${#fields.hasErrors('confirmedDate')}" th:errors="*{confirmedDate}" class="help-block">Error</span>
                </div>
            </div>
            <div class="row vertical-margin">
                <button type="reset" id="resetBtn" class="btn btn-default col-lg-1"
                        th:disabled="${modeTag eq 'R'}">リセット
                </button>
                <input type="submit" id="fakeUpdateItemBtn" class="btn btn-primary col-lg-1 pull-right"
                       th:if="${modeTag eq 'R'}" th:disabled="${modeTag eq 'R'}"
                       value="更新"/>
                <input type="submit" id="updateItemBtn" class="btn btn-primary col-lg-1 pull-right"
                       th:if="${modeTag eq 'M'}" value="更新"/>
                <input type="submit" id="addItemBtn" class="btn btn-primary col-lg-1 pull-right"
                       th:if="${modeTag eq 'A'}" value="追加"/>
                <input type="submit" id="removeItemBtn" class="btn btn-danger col-lg-1 pull-right"
                       th:if="${modeTag eq 'D'}" value="削除"/>
            </div>
        </form>
    </div>

</div>

</body>
</html>