/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016/09/20, 23:56:31
    Author     : f97one
*/
.vertical-margin {
    margin-top: 16px;
    margin-bottom: 16px;
}

.horizontal-margin {
    margin-right: 16px;
    margin-left: 16px;
}