<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Main page | PIMS</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css"
              href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css"
              href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" type="text/css"
              href="../../static/css/pimsmain.css" th:href="@{/static/css/pimsmain.css}"/>
    </head>
    <body>
    <div class="container">
        <div th:replace="/common/common_header::common_header"></div>

        <h1 id="title_title" th:text="${title}" class="h1">PIMS</h1>

        <h2 class="h2">プロジェクト台帳一覧</h2>

        <div class="row">
            <div class="col-lg-2 col-sm-2 pull-right">
                    <span th:if="${#httpServletRequest.remoteUser != null}">
                        <a th:href="@{'/ledger/create'}" class="btn btn-primary btn-block">台帳追加</a>
                    </span>
            </div>
        </div>

        <div class="table-responsive vertical-margin">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th class="text-center">台帳名</th>
                    <th class="text-center">ステータス</th>
                    <th class="text-center">最終更新日時</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ledger : ${dispIssueLedgers}">
                    <td th:text="${ledger.ledgerName}"><a th:href="@{'/ledger/' + ${ledger.ledgerId}">hoge改造</a></td>
                    <td th:text="${ledger.status}" class="text-center">進行中</td>
                    <td th:text="${ledger.lastUpdatedAt}" class="text-center">2016/10/01 12:34:56</td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
    </body>
</html>
